<?xml version="1.0"?>
<opml version="1.1">
  <head>
    <title><%= name %></title>
    <dateModified><%= date_822 %></dateModified>
    <ownerName><%= owner_name %></ownerName>
  </head>

  <body>
    <% channels.each do |channel| %>
    <outline type="rss"
             text="<%= channel.name %>"
             xmlUrl="<%= channel.url %>"
             <% if channel.channel_link %> htmlUrl="<%= channel.channel_link %>"<% end %> />
    <% end %>
  </body>
</opml>