

<h3>Named Route Helpers</h3>

<pre>
  root_url:      <%= root_url %>
  root_path:     <%= root_path %>
  sites_path:    <%= sites_path %>
  feeds_path:    <%= feeds_path %>
  items_path:    <%= items_path %>
  timeline_path: <%= timeline_path %>
</pre>

<%= erb :'_debug' %>

