<!DOCTYPE html>
<html>
<head>
  <meta charset='UTF-8'>
  <title>Pluto / Admin</title>
  <link href="<%= url('/style.css') %>" rel='stylesheet'>
</head>
<body>

<p>
  Pluto |
    <%= link_to 'Sites', sites_path %> <span class='count'>(<%= Site.count %>)</span> &bull;
    <%= link_to 'Feeds', feeds_path %> <span class='count'>(<%= Feed.count %>)</span> &bull;
    <%= link_to 'Items', items_path %> <span class='count'>(<%= Item.count %>)</span>  &bull;
    <%= link_to 'Timeline', timeline_path %> <span class='count'>(<%= Action.count %>)</span>
</p>

<%= yield %>

<%= erb :'_version' %>

</body>
</html>
