%### Planet OPML template.
%###
<?xml version="1.0"?>
<opml version="1.1">
  <head>
    <title><%=h name %></title>
    <dateModified><%= date_822 %></dateModified>
    <ownerName><%= owner_name %></ownerName>
  </head>

  <body>
    <% channels.each_with_loop do |channel, channel_loop| %>
    <outline type="rss"
             text="<%=h channel.name %>"
             xmlUrl="<%=h channel.url %>"
             <% if channel.channel_link %> htmlUrl="<%=h channel.channel_link %>"<% end %> />
    <% end %>
  </body>
</opml>