
<h1>Pluto Planet Blank Template Sample</h1>

<p>Subscriptions:</p>
<ul>
  <% Feed.all.each do |feed| %>
  <li><%= feed.title %> (<%= feed.items.count %>)</li>
  <% end %>
</ul>


<% Item.latest.each do |item| %>

<p>
  <%= item.published_at %>
</p>

<p>
  <%= item.title %>

(<%= item.feed.title %>)
</p>

<hr>
  
<% end %>
