<html>
<head>
  <meta charset="UTF-8">
  <title><%= headers['title'] %></title>
  <meta name="generator" content="<%= Pluto.banner %>">
  <style>
   body {
    font-family: sans-serif;
    background-color: #F4F4F4;
   }
   
   a, a:visited {
    text-decoration: none;
    color: #0069D6;
   }
   
   a:hover {
    text-decoration: underline;
    color: #00438A;
    background-color: yellow;
   }

   .item {
    background-color: white;
    border: 1px solid #9E9E9E;
    padding: 15px;
   }
   
   .item_title {
    margin-top: 0;
   }
   
   .feed_title {
     margin-bottom: 5px;
   }
   
   .colright {
     margin-left: 20px;
   }
   
   ul.subscriptions {
     list-style: none;
     margin-left: 0;
     padding-left: 0;
   }
   
   .smaller {
     font-size: 80%;        
   }
  </style>
</head>
<body>
<h1><%= headers['title'] %></h1>

<table>
<tr>
  <td style='vertical-align:top;'><!-- first column -->

<% last_published_at = Time.local( 1999, 1, 1 )
   Item.latest.each do |item| %>

 <% unless last_published_at.year   == item.published_at.year  &&
           last_published_at.month  == item.published_at.month &&
           last_published_at.day    == item.published_at.day      %>
     
     
             
<h3>
  <%= item.published_at.strftime('%A, %d. %B %Y') %>
</h3>

<% end %><!-- if new day? -->

<h4 class='feed_title'>
  <a href='<%= item.feed.url %>'><%= item.feed.title %></a>
</h4>

<div class='item'>
<h2 class='item_title'>
 <a href='<%= item.url %>'><%= item.title %></a>
</h2>

<div class='content'>
<%= item.content %>
</div>
</div> 
<!--
<p>
   <%= item.published_at.strftime('%H:%M') %>
</p>
-->

<% last_published_at = item.published_at
   end %><!-- each item -->
  
  </td>
  <td style='vertical-align:top;'><!-- second column -->

    <div class='colright'>
    <p>
      Last Updated
    </p>
    <p class='smaller'><%= Time.now.strftime('%A, %d. %B %Y %H:%M') %>
    </p>

    <p>Subscriptions</p>
    <ul class='subscriptions smaller' >
     <% Feed.all.each do |feed| %>
      <li>
        <a href='<%= feed.feed_url %>'><img src='feed-icon-10x10.png'></a>         
        <a href='<%= feed.url %>'><%= feed.title %></a></li>
     <% end %>
     </ul>
    </div>

  </td>
</tr>
</table>
<body>
</html>